<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Practice Test Suite" verbose="1" >
      <test name="Test Cases" >
        <classes>
            <class name="tests.HappyPathTest"/>
            <class name="tests.ViewOrdersTest"/>
            <class name="tests.CaptureImageTest"/>
            <class name="apitests.APICallsTest"/>
        </classes>
    </test>
</suite>


